---
import Layout from '../layouts/Layout.astro';
import Logo from '../components/Logo.svg';
import FormattedDate from '../components/FormattedDate.astro';
import Pagination from '../components/Pagination.astro';
import { type CollectionEntry, getCollection } from 'astro:content';

export async function getStaticPaths({paginate}) {
  const allPosts = await getCollection('posts');
  const sortedPosts = allPosts.sort((a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate));
  return paginate(sortedPosts, { pageSize: 20 });
}

export interface Props {
	page: any;
}

const { page } = Astro.props;

---

<Layout title="Nocial">
	    {page.data.map((post) => (
	      <div class="post">
	      	<Fragment set:html={post.rendered.html}/>
	      <a href=`/posts/${post.id}`><FormattedDate date={post.data.pubDate} /></a>
	      <p>{(post.data.tags ? post.data.tags.flatMap((tag: string) => <span class="tags"><a href=`/tags/${tag}`>#{tag}</a></span>) : "")}</p>
	      </div>
	    ))}

	    <Pagination page={page} />
	</Layout>